@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    touch-action: manipulation;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.scanning-line {
  height: 2px;
  background: linear-gradient(90deg, transparent, #004d64, transparent);
  box-shadow: 0 0 15px #006684;
  position: absolute;
  width: 100%;
  animation: scan 3s linear infinite;
  pointer-events: none;
  z-index: 10;
}

@keyframes scan {
  0%   { top: 10%; opacity: 0; }
  10%  { opacity: 1; }
  90%  { opacity: 1; }
  100% { top: 90%; opacity: 0; }
}
